html {
  --psfy-color-accent: hsl(141 73% 42%);
  --psfy-color-gray-01: hsl(120 2% 90%);
  --psfy-color-gray-02: hsl(0 0% 67%);
  --psfy-color-gray-03: hsl(0 0% 24%);
  --psfy-color-gray-a01: hsla(0 0% 74% / .65);
  --psfy-color-gray-a02: hsla(0 0% 50% / .65);
  --psfy-color-white: hsl(0 0% 100%);
  --psfy-font-family: system-ui;
  --psfy-font-size-normal: .8125rem;
  --psfy-font-size-small: .6875rem;
  --psfy-icon-size-small: 16px;
  --psfy-letter-spacing: -.025rem;
  --psfy-navbar-background-color: var(--psfy-color-gray-01);
  --psfy-navbar-heading-color: var(--psfy-color-gray-02);
  --psfy-navbar-heading-font-family: var(--psfy-font-family);
  --psfy-navbar-heading-font-size: var(--psfy-font-size-small);
  --psfy-navbar-heading-font-weight: bold;
  --psfy-navbar-heading-margin-bottom: 4px;
  --psfy-navbar-heading-padding: 0 16px;
  --psfy-navbar-item-active-background-color: var(--psfy-color-gray-a01);
  --psfy-navbar-item-border-radius: 6px;
  --psfy-navbar-item-color: var(--psfy-color-gray-03);
  --psfy-navbar-item-font-family: var(--psfy-font-family);
  --psfy-navbar-item-font-size: var(--psfy-font-size-normal);
  --psfy-navbar-item-font-weight: 500;
  --psfy-navbar-item-height: 28px;
  --psfy-navbar-item-icon-color: var(--psfy-color-accent);
  --psfy-navbar-item-icon-margin: 10px;
  --psfy-navbar-item-icon-size: var(--psfy-icon-size-small);
  --psfy-navbar-item-inner-padding: 0 12px;
  --psfy-navbar-item-letter-spacing: var(--psfy-letter-spacing);
  --psfy-navbar-item-padding: 0 10px;
  --psfy-navbar-max-width: 260px;
  --psfy-navbar-min-width: 200px;
  --psfy-navbar-scrollbar-color: var(--psfy-color-gray-a02);
  --psfy-navbar-width: var(--nav-bar-width);
  --psfy-scrollbar-width: 15px;
  overflow: hidden;
}
