html {
  --psfy-cl-accent: hsl(141 73% 42%);
  --psfy-cl-gray-01: hsl(0 0% 95%);
  --psfy-cl-gray-02: hsl(0 0% 90%);
  --psfy-cl-gray-03: hsl(0 0% 85%);
  --psfy-cl-gray-04: hsl(240 0% 82%);
  --psfy-cl-gray-05: hsl(0 0% 75%);
  --psfy-cl-gray-06: hsl(0 0% 70%);
  --psfy-cl-gray-07: hsl(0 0% 67%);
  --psfy-cl-gray-08: hsl(240 0% 50%);
  --psfy-cl-gray-09: hsl(240 0% 46%);
  --psfy-cl-gray-10: hsl(240 0% 40%);
  --psfy-cl-gray-11: hsl(0 0% 24%);
  --psfy-cl-gray-12: hsl(0 0% 19%);
  --psfy-cl-gray-13: hsl(0 0% 13%);
  --psfy-cl-gray-a01: hsla(0 0% 74% / .65);
  --psfy-cl-gray-a02: hsla(0 0% 50% / .65);
  --psfy-cl-white: hsl(0 0% 100%);
  --psfy-font-family: system-ui;
  --psfy-font-size-01: .8125rem;
  --psfy-font-size-02: .7125rem;
  --psfy-font-size-03: .6875rem;
  --psfy-font-size-04: .625rem;
  --psfy-font-wg-01: 700;
  --psfy-font-wg-02: 600;
  --psfy-font-wg-03: 500;
  --psfy-letter-spacing: -.025rem;
  overflow: hidden;
}

.spotify__container--is-desktop:not(.fullscreen).spotify__os--is-macos .body-drag-top {
  height: 17px;
}

.Root__top-container {
  grid-template-areas:
    'nav-bar now-playing-bar now-playing-bar'
    'nav-bar main-view buddy-feed';
  grid-template-rows: auto 1fr;
}
