.main-navBar-entryPoints + div {
  margin-top: 0;
}

.main-navBar-entryPoints + div hr {
  background-color: transparent;
  height: auto;
  margin: 0;
  padding-top: 10px;
}

.main-navBar-entryPoints + div hr::before {
  color: var(--psfy-cl-gray-07);
  content: 'Playlists';
  display: block;
  font-family: var(--psfy-font-family);
  font-size: var(--psfy-font-size-03);
  font-weight: var(--psfy-font-wg-01);
  margin-bottom: var(--psfy-navbar-heading-mg-b);
  padding: var(--psfy-navbar-heading-pd);
}

.main-navBar-entryPoints + div hr + div {
  display: none;
}

.main-navBar-entryPoints + div .GlueDropTarget button[aria-label=Playing] {
  box-sizing: content-box;
  height: var(--psfy-navbar-item-icon-size);
  margin-left: 0;
  padding: 0;
  width: var(--psfy-navbar-item-icon-size);
}

.main-navBar-entryPoints + div .GlueDropTarget > div {
  padding: 0;
}

.os-host {
  padding-top: 0;
}
