.main-navBar-entryPoints + div {
  margin-top: 0;
}

.main-navBar-entryPoints + div hr {
  background-color: transparent;
  height: auto;
  margin: 0;
  padding-top: 10px;
}

.main-navBar-entryPoints + div hr::before {
  color: var(--psfy-navbar-heading-color);
  content: 'Playlists';
  display: block;
  font-family: var(--psfy-navbar-heading-font-family);
  font-size: var(--psfy-navbar-heading-font-size);
  font-weight: var(--psfy-navbar-heading-font-weight);
  margin-bottom: var(--psfy-navbar-heading-margin-bottom);
  padding: var(--psfy-navbar-heading-padding);
}

.main-navBar-entryPoints + div hr + div {
  display: none;
}

.main-navBar-entryPoints + div .GlueDropTarget button[aria-label=Playing] {
  box-sizing: content-box;
  height: var(--psfy-navbar-item-icon-size);
  margin-left: 0;
  padding: 0;
  width: var(--psfy-navbar-item-icon-size);
}

.main-navBar-entryPoints + div .GlueDropTarget > div {
  padding: 0;
}

.os-host {
  padding-top: 0;
}
