.os-content > ul {
  height: inherit;
}

.os-content > ul > div {
  /* stylelint-disable-next-line declaration-no-important */
  height: inherit !important;
}

.os-content > ul > div > :nth-child(2) {
  height: inherit;
  overflow-y: overlay;
}

.os-content > ul > div > :nth-child(2)::-webkit-scrollbar {
  width: var(--psfy-scrollbar-width);
}

.os-content > ul > div > :nth-child(2)::-webkit-scrollbar-thumb {
  background-color: var(--psfy-navbar-scrollbar-color);
}
