.main-navBar-entryPoints::before {
  color: var(--psfy-cl-gray-07);
  content: 'Spotify';
  display: block;
  font-family: var(--psfy-font-family);
  font-size: var(--psfy-font-size-03);
  font-weight: var(--psfy-font-wg-01);
  margin-bottom: var(--psfy-navbar-heading-mg-b);
  padding: var(--psfy-navbar-heading-pd);
}

.main-navBar-entryPoints a {
  border-radius: var(--psfy-navbar-item-border-radius);
  column-gap: var(--psfy-navbar-item-icon-mg);
  cursor: default;
  height: var(--psfy-navbar-item-height);
  padding: var(--psfy-navbar-item-inner-pd);
  transition: none;
}

.main-navBar-entryPoints a[aria-current=page] {
  background-color: var(--psfy-cl-gray-a01);
}

.main-navBar-entryPoints span {
  color: var(--psfy-cl-gray-11);
  font-family: var(--psfy-font-family);
  font-size: var(--psfy-font-size-01);
  font-weight: var(--psfy-font-wg-03);
  letter-spacing: var(--psfy-letter-spacing);
}

.main-navBar-navBarItem {
  padding: var(--psfy-navbar-item-pd);
}

.main-navBar-navBarItem .home-icon,
.main-navBar-navBarItem .home-active-icon,
.main-navBar-navBarItem .search-icon,
.main-navBar-navBarItem .search-active-icon,
.main-navBar-navBarItem .collection-icon,
.main-navBar-navBarItem .collection-active-icon {
  color: var(--psfy-cl-accent);
  height: var(--psfy-navbar-item-icon-size);
  width: var(--psfy-navbar-item-icon-size);
}

.main-navBar-navBarItem > .GlueDropTarget {
  padding: 0;
}
