.control-button[aria-label=Mute],
.control-button[aria-label=Unmute] {
  border-radius: var(--psfy-playing-bar-button-border-radius);
  color: var(--psfy-cl-gray-10);
  display: flex;
  height: auto;
  min-width: auto;
  order: -1;
  padding: var(--psfy-playing-bar-button-pd);
  width: auto;
}

.control-button[aria-label=Mute]:hover {
  background-color: var(--psfy-cl-gray-01);
  color: var(--psfy-cl-gray-10);
}

.control-button[aria-label=Mute]:focus-visible {
  background-color: var(--psfy-cl-gray-01);
}

.control-button[aria-label=Unmute] {
  background-color: var(--psfy-cl-gray-01);

  /* Overwrite control-button--active important */
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--psfy-cl-gray-10) !important;
}

.control-button[aria-label=Unmute]:hover {
  background-color: var(--psfy-cl-gray-02);

  /* Overwrite control-button--active important */
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--psfy-cl-gray-10) !important;
}

.control-button[aria-label=Unmute]:focus-visible {
  background-color: var(--psfy-cl-gray-02);
}

.control-button[aria-label=Unmute]:hover:active,
.control-button[aria-label=Unmute]:focus:active {
  background-color: var(--psfy-cl-gray-03);

  /* Overwrite control-button--active important */
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--psfy-cl-gray-13) !important;
}

.control-button[aria-label=Mute] svg,
.control-button[aria-label=Unmute] svg {
  height: var(--psfy-playing-bar-button-icon-size);
  width: var(--psfy-playing-bar-button-icon-size);
}
