.Root__nav-bar {
  background-color: hsl(120 2% 90%);
  max-width: 260px;
  min-width: 200px;
  width: var(--nav-bar-width);
}

.main-navBar-navBar .GlueDropTarget {
  padding: 0 10px;
}

.main-navBar-navBar .GlueDropTarget button,
.main-navBar-navBar .GlueDropTarget a {
  border-radius: 6px;
  column-gap: 10px;
  cursor: default;
  height: 28px;
  opacity: 1;
  padding: 0 12px;
  transition: none;
}

.main-navBar-navBar .GlueDropTarget button:focus,
.main-navBar-navBar .GlueDropTarget a[aria-current=page] {
  background-color: rgba(128 128 128 / .25);
}

.main-navBar-navBar .GlueDropTarget button > div,
.main-navBar-navBar .GlueDropTarget a > div {
  height: 16px;
  margin-right: 0;
  opacity: 1;
  padding: 0;
  transition: none;
  width: 16px;
}

.main-navBar-navBar .GlueDropTarget button > div > div,
.main-navBar-navBar .GlueDropTarget a > div > div {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
}

.main-navBar-navBar .GlueDropTarget svg {
  color: hsl(141 73% 42%);
}

.main-navBar-navBar .GlueDropTarget span {
  color: hsl(0 0% 24%);
  font-family: system-ui;
  font-size: .8125rem;
  font-weight: 500;
  letter-spacing: -.025rem;
  opacity: 1;
  transition: none;
}
